/*section*/
.services-section {
  color: black;
}
img,
svg {
  vertical-align: middle;
  margin-left: 8px;
}

.theme-toggle {
  margin-left: 27px;
}
/*---/*
  /* Modificar el ancho del dropdown */ /* Alinea las opciones a la izquierda */
.dropdown-menu {
  text-align: left;
}

/* Estilos para el tema oscuro */
body.dark-theme {
  background-color: #121212;
  color: white;
}

body.dark-theme .header {
  background-color: #282f43;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

body.dark-theme .navbar {
  background-color: #e3f2fd;
}

body.dark-theme .navbar-nav .nav-link {
  color: black !important;
}

body.dark-theme .navbar-brand {
  color: black !important;
}

.btn-outline-dark {
  border-color: white;
}

.btn-outline-dark:hover {
  color: black;
  background-color: white;
}

.header {
  background-color: #516ba4;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
}

.header .btn {
  background-color: #f8f9fa;
  color: #007bff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

.header .btn:hover {
  background-color: #007bff;
  color: white;
}

.services-section {
  padding: 60px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.services-section .service {
  margin-bottom: 30px;
}

.services-section h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.services-section p {
  font-size: 1rem;
  color: #6c757d;
}

.card-body {
  text-align: left; /* Alinea el contenido del card a la izquierda */
}

.card-icon {
  width: 60px; /* Ajusta el ancho deseado */
  height: 60px; /* Ajusta la altura deseada */
  margin-right: 20px; /* Añade espacio a la derecha de la imagen */
  margin-bottom: 20px; /* Espaciado debajo de la imagen */
  display: inline-block; /* Hace que la imagen se comporte como un bloque en línea */
}

/* Estilos para el footer */

.footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

footer {
  background-color: #516ba4;
  color: #fff;
  padding: 39px 0;
}
/*cambiar a oscuro*/
/* Estilos para el tema oscuro en el footer */
body.dark-theme footer {
  background-color: #282f43;
  color: white;
}

body.dark-theme footer a {
  color: #f8f9fa;
}

body.dark-theme footer a:hover {
  text-decoration: underline;
}
